body{
  background-image: url(https://images.unsplash.com/photo-1568685002130-f55183852304?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  display:flex;
}

.nav{
  background-color: black;
}


.foodList{
overflow: scroll;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
overflow: scroll;
justify-content: space-between;
align-items: flex-end;
align-content: space-between;

}

.foodCard{
  margin: 5px;
  background-color: orange;
  height: 18rem;
  width: 15rem;
  font-size: xx-small;
}

img.card-img-top{
  height: 8rem;
  width: 10rem;
}
.foodDiv{
  margin-top: 20px;
  height: 18rem;
  width: 3400px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
}

.restaurantName{
  font-style: bold;
  font-weight: bolder;
  font-size: 1.5em
}

.barCard{
  margin: 5px;
  background-color: white;
  height: 18rem;
  width: 15rem;
  font-size: xx-small;
}
